/* body {
    background-color: paleturquoise;
}
.sunrisers{
    display:inline-block;
    border-radius: 8px;
    width: 100px;
}
.sunrisers img{
    height: 100px;
    width: 100px;
}
.sunrisers h3{
    font-size: 1em;
    color:blue;
    margin: 0;
}
.csk{
    display:inline-block;
    border-radius: 8px;
    width: 100px;
}
.csk img{
    height: 100px;
    width: 100px;
}
.csk h3{
    font-size: 1em;
    color:blue;
    margin: 0;
}
.RCB{
    display:inline-block;
    border-radius: 8px;
    width: 100px;
}
.RCB img{
    height: 100px;
    width: 100px;
}

.RCB h3{
    font-size: 1em;
    color:blue;
    margin: 0;
}
.MumbaiIndians{
    display:inline-block;
    border-radius: 8px;
    width: 100px;
}
.MumbaiIndians img{
    height: 100px;
    width: 100px;
}
.MumbaiIndians h3{
    font-size: 1em;
    color:blue;
    margin: 0;
}
.GujarathTitans{
    display:inline-block;
    border-radius: 8px;
    width: 100px;
}
.GujarathTitans img{
    height: 100px;
    width: 100px;
}
.GujarathTitans h3{
    font-size: 1em;
    color:blue;
    margin: 0;
}
.Lucknowsupergaints{
    display:inline-block;
    border-radius: 8px;
    width: 100px;
}
.Lucknowsupergaints img{
    height: 100px;
    width: 100px;
}
.Lucknowsupergaints h3{
    font-size: 1em;
    color:blue;
    margin: 0;
}
.Delhidaredevils{
    display:inline-block;
    border-radius: 8px;
    width: 100px;
}
.Delhidaredevils{
    height: 100px;
    width: 100px;
}
.Delhidaredevils h3{
    font-size: 1em;
    color:blue;
    margin: 0;
} */
 